@import "tailwindcss";

@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-wrapper {
  display: flex;
  white-space: nowrap;
  animation: scroll-marquee 40s linear infinite;
}